.App {
    text-align: center;
}

.drop-zone {
    cursor: pointer;
}

.drop-error {
    color: #ff0000;
}

.profile {
    margin: 1em;
    padding: 3em;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}